@import-normalize;
@import './config.scss';
@import './fonts.scss';
@import './colors.scss';
@import './dev-infos.scss';
@import './buttons.scss';
@import './header.scss';
@import './footer.scss';
@import './page-container.scss';
@import './page-home.scss';
@import './page-groupes.scss';
@import './page-oeuvres.scss';
@import './galerie.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size:$font-size;
}

body {
  background-color: $app-bg;
  font-family: $font-eurostile, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

h1, h2 {
  margin: 0;
}

img {
  object-fit: cover;
  object-position: center;
}

a {
  color:inherit;
  text-decoration: none;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}

#root {
  display: grid;
  height:100vh;
  grid-template-rows: min-content auto min-content;
}